<div id="sidebar">
  <div id="sidebar_inner">
    <div id="nav">
      <li><%= link_to ">> Home <<", :action => 'home'%></li>
      <li><%= link_to "Submit job", :action => 'index'%></li>
      <li><%= link_to "Look up jobs", :action => 'look'%></li>
      <li<%= link_to "Contact", :action => 'contact'%></li>
      <li><%= link_to "About", :action => 'about'%></li>
            
    </div>
    <div id="spacer">
    </div>
    <div id="counter">
      <ul>
        <li>Visitors: <%= @ip_counter %></li>
        <li>Submissions: <%= @submission_counter %></li>
      </ul>
    </div>
    <div id="jobs">
    </div>
  </div>
</div>
<div id="content">
  <div id="content_inner">
    
  
  </div>
</div>


