<h1>RAxML</h1>


<%= error_messages_for :raxml, :header_message => "There were #{@raxml.errors.size} errors in your input!" %>

<% form_tag ({:action => 'submitJob'},:multipart => true) do %>

<p><label for="raxml_alifile">Select alignment file</label> : 
  <%= file_field 'raxml', 'alifile' %>
</p>
Upload unaligned query reads  <input id="qfile" name="qfile" type="checkbox" value="T" onclick="showHideCheckboxElements('qfile','queryfile')"/>
<div class="optionLevel1"  id="queryfile" style="visibility:hidden">
  <p><label for="raxml_readfile">Select query file</label> : 
    <%= file_field 'raxml', 'queryfile' %>
  </p>
  <p>Cluster query reads <%= check_box_tag "cluster", "T"%> </p>
</div>
<p><label for="tree_file">Select tree file</label> : 
  <%= file_field 'treefile', 'file' %>
</p>

<p>Query type: <label for = "query">DNA</label>
  <input  id="query_DNA" name="query" type="radio" value="DNA" checked="checked" onclick="document.getElementById('DNA').style.visibility='visible';document.getElementById('AA').style.visibility='hidden' ; document.getElementById('PAR').style.visibility='hidden'" />
  AA<input  id="query_AA" name="query" type="radio" value="AA"   onclick="document.getElementById('DNA').style.visibility='hidden';document.getElementById('AA').style.visibility='visible'; document.getElementById('PAR').style.visibility='hidden'"/>
PARTIONED<input  id="query_PAR" name="query" type="radio" value="PAR"   onclick="document.getElementById('DNA').style.visibility='hidden';document.getElementById('AA').style.visibility='hidden'; document.getElementById('PAR').style.visibility='visible'"/>
</p>

<!-- DNA models -->
<div class="optionLevel1" id="DNA" style="visibility:visible" >  
  <p><label for = "dna_substmodel">Models </label> : 
    <%= select_tag "dna_substmodel", "#{@dna_model_options}" %>
  </p>
</div>

<!-- Amino Acid models -->
<div class="optionLevel1" id="AA" style="visibility:hidden">
  <p><label for = "aa_substmodel">Models </label> : 
    <%= select_tag "aa_substmodel", "#{@aa_model_options}" %>
    <%= select_tag "matrix", "#{@aa_matrices}" %>
  </p>
 <p>Use empirical base frequencies <%= check_box_tag "sm_float", "[F]"%> </p>
</div>

<!-- Partioned models -->
<div class="optionLevel1"  id="PAR" style="visibility:hidden">
  <p><label for = "par_substmodel">Rate Heterogeneity Model </label> : 
    <%= select_tag "par_substmodel", "#{@par_model_options}" %>
   <p> <label for="raxml_parfile"> Partition File</label> : 
    <%= file_field 'raxml', 'parfile' %></p>
  </p>
</div>

<p><label for = "speed">Speed</label>: 
  fast<%= radio_button_tag 'speed', 'y', true%>
  slow<%= radio_button_tag 'speed', 'v'%>
</p>

Use Bootstrapping <input id="chBoot" name="chBoot" type="checkbox" value="T" onclick="optionalCheckboxElements('bootstrap','chBoot','heuristic','chHeu')"/>
<div class="optionLevel1"  id="bootstrap" style="visibility:hidden" >
  <p><label for = "bootstrap">Random seed</label> : 
    <%= text_field_tag "random_seed",1234,  :size =>4 %></p> 
  <p><label for = "bootstrap">Number of runs</label> :
    <%= text_field_tag "runs",100,  :size =>4 %>
  </p>
</div>


Use Heuristics <input id="chHeu" name="chHeu" type="checkbox" value="T" onclick="optionalCheckboxElements('heuristic','chHeu','bootstrap','chBoot')" />
<div class="optionLevel1" id="heuristic" style="visibility:hidden">
  <p><label for = "heuristic">Heuristic </label> : 
    <%= select_tag "heuristic", "#{@heuristics}" %>
    <%= select_tag "heu_float","#{@heuristics_values}"%>
  </p>
</div>


<p><label for="raxml_email">Email for notification(optional)</label> : 
  <%= text_field_tag "rax_email",nil,  :size =>40 %>
</p> 
<%= submit_tag "Submit" %>
<% end %>
<% form_tag ({:action => 'index'},:multipart => true) do %>
<%= submit_tag "Reset" %>
<% end%>


