<h1>Results</h1>

<div id="block">
  <h2>Downloads</h2>
  <div id="download">
    <% i = 0; while i<@names.size %>
       <li><%= link_to "#{@names[i]}", :action => 'download' , :file => "#{@files[i]}"%></li>
    <% i = i+1; end %>

  </div>
  <p>Pleace cite: 
    <ul>
      <% @cites.each do |cite| %>
       <%= cite %>
      <% end %> 
  </ul></p>
  
  <p><%= button_to "Submit new job" , :controller => 'raxml', :action => 'submit' %></p>
  
  <p>
  <APPLET codebase="/applets/archaeopteryx" archive="archaeopteryx_applets.jar" code="org.forester.archaeopteryx.ArchaeopteryxE" width="1000" height="700">
    <param name="url_of_tree_to_load" value= '<%="#{@root}#{@path}treefile.phyloxml"%>' >
    <param name="config_file" value='<%="#{@root}/applets/archaeopteryx/_aptx_configuration_file"%>'>
  </APPLET>
</p>
</div>
