<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

  <title>RAxML_EPA</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'raxml' %>
  <style type="text/css"></style>
  <body>
    <div id="main_wrapper">
      <div id="header">
        <div id="header_inner">
          <p>Header image</p>
        </div>
      </div>
      <div id="spacer">
        
      </div>
     <!--  <div id="sidebar">
        <div id="sidebar_inner">
          <div id="nav">
            
            <li><a href=<%="#{ENV['SERVER_ADDR']}:3000/home"%>>Home</a></li>
            <li><a href=<%="#{ENV['SERVER_ADDR']}:3000/raxml"%>>Submit job</a></li>
            <li><a href=<%="#{ENV['SERVER_ADDR']}:3000/look"%>>Look up job</a></li>
            <li><a href=<%="#{ENV['SERVER_ADDR']}:3000/contact"%>>Contact</a></li>
            <li><a href=<%="#{ENV['SERVER_ADDR']}:3000/about"%>>About</a></li>
            
          </div>
          <div id="spacer">
          </div>
          <div id="counter">
            <ul>
              <li>Visitors: <%= @ip_counter %></li>
              <li>Submissions: <%= @submission_counter %></li>
            </ul>
          </div>
          <div id="jobs">
          </div>
        </div>
      </div>
      
      <div id="content">
        <div id="content_inner"> -->
          <%=yield %>
     <!--   </div>
      </div> -->
      
      <div id="footer">
        <div id="footer_inner">
          <p>This is the footer</p>
        </div>
      </div>
    </div>
    
  </body>
</html>
